h3{color:blue;
  font-size:30px;}
p{
  color:green;
  font-size:20px;
}
a:link{color:red}/*not visited*/
a:visited{color:green}/*visited link*/
a:hover{color:hotpink}/*mouse over link*/
a:active{color:blue}/*selected link*/